/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   App Styles
   ========================================================================== */

/*
 * Layout Styles
 */
.container {
    width: 100%;
}

.content {
    width: 960px;
    margin: 0 auto;
}

/*
 * Form Styles
 */

.input-container {
    display: block;
    margin: 10px 0;
}

.input-label {
    float: left;
}

.input-control {
    margin-left: 100px;
}

.input-container.error .input-control input, .input-container.error .input-control select {
    border: 1px solid #BD2F41;
}

.input-block-label {
    display: block;
    margin: 3px 0;
}

.input-block-label input {
    margin-right: 5px;
}

.input-errors {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: #BD2F41;
    font-size: 0.8em;
}

.input-errors li {
    margin: 0px;
    padding: 0px;
}

/*
 * General Styles
 */
.thanks {
    padding: 10px 20px;
    border: 1px solid #2da944;
    color: #2da944;
    margin: 20px 0;
}


