{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="content">
            <h1>Formulário</h1>

            {% if isValid %}
            <div class="thanks">Obrigado!</div>
            {% endif %}

            <div id="registro">
            {{ form(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $(function(){
            $('#registro').submit(function(e){
                $(this).find('.input-container').removeClass('error');
                $(this).find('ul.input-errors').remove();
                if(!$('#pessoa_email').val().test(/@/)) {
                    var error = $('<ul>').addClass('input-errors');
                    error.html('<li>Este valor não é um endereço de e-mail válido.</li>');
                    $('#pessoa_email').parents('.input-container ').addClass('error');
                    $('#pessoa_email').parents('.input-control ').append(error);
                    e.preventDefault();
                    return false;
                }
            })
        })
    </script>
{% endblock %}