{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% spaceless %}
        <div class="input-container {% if errors|length > 0 %}error{% endif %}">
            <div class="input-label">
                {{ form_label(form) }}
            </div>
            <div class="input-control">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <label class="input-block-label">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block button_row %}
    {% spaceless %}
        <div class="input-container">
            <div class="input-control">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="input-errors">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


